<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>What is and how to use Voice Over?</string>
	<key>Pages</key>
	<array>
		<string>htvoiceover.playgroundpage</string>
		<string>htvoiceover2.playgroundpage</string>
	</array>
</dict>
</plist>
